<div class="modal fade" id="confirmDelete" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar borrado</h4>
            </div>

            <div class="modal-body">
                <p>¿Confirma que desea eliminar el registro?</p>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-warning" data-dismiss="modal">Aceptar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>